/* Import the other style sheets into the current style sheet */
@import "table.css"; /* Using a string */
@import url("header.css"); /* Using a url */
@import url("list.css"); /* Using a url */

#rootWindow {
    -fx-background-color: linear-gradient(from 25px 25px to 500px 300px, #73D4FFaa, #958BE8aa);
    -fx-padding: 0px 10px 10px 10px;
    -fx-background-radius: 10px;

    -primary: #81c48355;
    -secondary: #375FCB;
    -tertiary: #5000b8;
    -tertiary-armed: #FDDD71;
}

/* Navigation buttons */
#previousButtonPressed {
    -fx-background-color: #ffffffaa;
}

#previousButtonPressed:hover{
    -fx-background-color: #ffffffff;
}

#nextButtonPressed {
    -fx-background-color: #ffffffaa;
}

#nextButtonPressed:hover {
    -fx-background-color: #ffffffff;
}

.split-pane:horizontal {
    -fx-background-color: transparent;
}

.split-pane-divider {
    -fx-background-color: white;
    -fx-opacity: 0.8;
    -fx-start-margin: 10px;
}

#pageViewContainer {
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-padding: 10;
}

#searchBookField{
    -fx-background-radius: 10px;
}

/* Text field */
.text-field {
    -fx-background-color: #ffffffaa;
}