.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #ffffff99;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #545454;
    -fx-text-background-color: #d6d6d6;
}

.table-row-cell:odd:hover {
    -fx-background-color: #545454;
    -fx-text-background-color: #3b85d4FF;
}

.table-row-cell:even {
    -fx-background-color: #383838;
    -fx-text-background-color: #d6d6d6;
}

.table-row-cell:even:hover {
    -fx-background-color: #383838;
    -fx-text-background-color: #3b85d4FF;
}

.table-row-cell:highlighted {
    -fx-background-color: #3b85d4;
    -fx-background-insets: 2px;
}

.table-row-cell:selected {
    -fx-background-color: #3b85d4;
    -fx-text-background-color: white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff99;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
